<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spring JPA 결산 과제</title>
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<!--Google font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Noto+Sans+KR:wght@200&display=swap"
	      rel="stylesheet">

	<!--Google icon-->
	<link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>


<div class="album py-5">
	<div class="container">
		<table class="table table-bordered" style="text-align: center; vertical-align: middle">
			<thead class="table-light">
			<tr>
				<th colspan="6">
					<span th:utext="'사망신고서 <br/> (신고일 : ' + ${reportResident.birthDeathReportDate} + ')'"></span>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="table-light" rowspan="4">사망자</td>
				<td class="table-light">성명</td>
				<td colspan="2" th:text="${deathResident.name}"></td>
				<td class="table-light">주민등록번호</td>
				<td th:text="${deathResident.residentRegistrationNumber}"></td>
			</tr>
			<tr>
				<!-- 사망자 -->
				<td class="table-light">사망일시</td>
				<td colspan="4" th:text="${deathResident.deathDate}"></td>
			</tr>
			<tr>
				<!-- 사망자 -->
				<td rowspan="2" class="table-light">사망장소</td>
				<td class="table-light">구분</td>
				<td colspan="3" th:text="${deathResident.deathPlaceCode}"></td>
			</tr>
			<tr>
				<!-- 사망자 -->
				<!-- 사망장소 -->
				<td class="table-light">주소</td>
				<td colspan="3" th:text="${deathResident.deathPlaceAddress}"></td>
			</tr>

			<tr>
				<td class="table-light" rowspan="3">신고인</td>
				<td class="table-light">성명</td>
				<td colspan="2" th:text="${reportResident.name}"></td>
				<td class="table-light">주민등록번호</td>
				<td th:text="${reportResident.residentRegistrationNumber}"></td>
			</tr>

			<tr>
				<!--신고인-->
				<td class="table-light">자격</td>
				<td colspan="4" th:text="${reportResident.qualificationCode}"></td>
			</tr>

			<tr>
				<!--신고인-->
				<td class="table-light">이메일</td>
				<td colspan="2" th:text="${reportResident.email}"></td>
				<td class="table-light">전화번호</td>
				<td th:text="${reportResident.phoneNumber}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>


</body>
</html>