<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Spring JPA 3일차 과제 - 정승조</title>
</head>
<style>

	table, th, td {
		border: 1px solid black;
		border-collapse: collapse
	}

</style>
<body>
<!--        model.addAttribute("product", product);
        model.addAttribute("categoryList", categoryList);

-->
<h3 th:text="${product.modelName} + '의 상세 정보'"></h3>

<div>
	<h3>카테고리 목록</h3>
	<table>
		<tr>
			<th>카테고리 명</th>
		</tr>
		<tr th:each="category : ${categoryList}">
			<td th:text="${category.categoryName}">categoryName</td>
		</tr>
	</table>

</div>
<div>
	<h3>상품 정보</h3>
	<table>
		<tr>
			<th>상품 ID</th>
			<th>모델 번호</th>
			<th>모델 이름</th>
			<th>상품 가격</th>
			<th>상세 설명</th>
		</tr>
		<tr th:object="${product}">
			<td th:text="*{productId}"></td>
			<td th:text="*{modelNumber}"></td>
			<td th:text="*{modelName}"></td>
			<td th:text="*{unitCost}"></td>
			<td th:text="*{description}"></td>
		</tr>
	</table>
</div>
</body>
</html>